Generate content for an output file using the input data provided below.

-----
{{ .In }}

-----
{{- if .PreviousOut }}
Integrate the generated content into the current content of the file:

{{ .PreviousOut }}

-----
{{- end }}

Output file name: {{ .OutputPath }} 

{{- if .Prompt }}
Consider the following user request, which clarifies how the input should be transformed into the output: {{ .Prompt }}
{{- end }}

Output only the content of the file and nothing else. Do not wrap your output into Markdown code block. Do not request clarification from the user, as this session is non-interactive.